

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout :: head}"></head>
<body>
	<nav th:replace="~{layout/layout :: nav}"></nav>
	<div class="jumbotron-fluid text-white d-flex align-items-center"
		style="background-image: url('https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-54332.jpg?w=996&t=st=1699067964~exp=1699068564~hmac=0bcbcf11735701868163f6ee897dd6ed6e78e5cc5dcbbe8393eb8e86fb30d1b3'); background-size: cover; height: 450px;">
		<div class="container text-left">
			<h1 class="display-4">¿Qué nos hace especiales?</h1>
			<p class="lead">Apostamos por un staff de médicos implicados al
				máximo en la salud y bienestar de los pacientes</p>
			<p>Cibersalud es una plataforma digital que te conecta con una
				variedad de especialistas médicos de confianza. Nuestro objetivo es
				brindarte la comodidad de reservar citas médicas desde la comodidad
				de tu hogar, sin largas esperas en la clínica. Con solo unos pocos
				clics, puedes encontrar al médico adecuado para tus necesidades
				específicas y programar una cita que se adapte a tu agenda. Además,
				nuestra plataforma te proporciona información detallada sobre los
				médicos, sus especialidades y experiencias, para que puedas tomar
				decisiones informadas sobre tu atención médica. Priorizamos tu
				comodidad y bienestar, brindándote un acceso fácil y seguro a
				servicios médicos de calidad.</p>
			<p class="lead" style="font-size: 34px;">Somos CiberSalud, Nos
				importa tu bienestar</p>
		</div>
	</div>

	<div style="background-color: #dfdbdb;">
		<div class="container text-center">
			<h2 class="my-5"
				style="border-bottom: 2px solid #007BFF; display: inline-block;">Nuestros
				médicos</h2>
			<div class="row mt-4 align-items-center">
				<div class="col-md-6">
					<img
						src="https://png.pngtree.com/thumb_back/fw800/background/20221128/pngtree-portrait-of-a-group-of-delighted-doctors-in-a-hospital-corridor-photo-image_42629286.jpg"
						alt="imagen" class="img-fluid">
				</div>
				<div class="col-md-6">
					<p class="lead text-center" style="font-size: 18px;">"En
						CiberSalud, te conectamos con los mejores médicos y especialistas
						altamente calificados para garantizar que recibas la atención
						médica excepcional que te mereces. Nuestra plataforma en línea
						está dedicada a proporcionarte acceso rápido y sencillo a una red
						de profesionales médicos cuidadosamente seleccionados,
						comprometidos con tu bienestar y salud. Con un enfoque en la
						excelencia clínica y la atención personalizada, nuestros médicos
						están capacitados para ofrecer soluciones médicas integrales y
						adaptadas a tus necesidades específicas. En CiberSalud, estamos
						comprometidos a brindarte una experiencia de atención médica de
						calidad superior, respaldada por la experiencia y la dedicación de
						los mejores expertos en salud del país."</p>
				</div>
			</div>
		</div>

		<div style="height: 150px;"></div>
	</div>


	<div class="container text-center mt-5">
		<h2>Equipo de desarrolladores</h2>
		<p>"Somos un equipo de apasionados desarrolladores comprometidos a
			proporcionar soluciones innovadoras en el campo de la salud digital.
			Nuestro enfoque se centra en la creación de una plataforma accesible
			y fácil de usar que conecte a los usuarios con expertos médicos de
			confianza. Nos esforzamos por garantizar que cada aspecto de tu
			experiencia en línea con la atención médica sea seguro, conveniente y
			de la más alta calidad. Con una dedicación implacable a la excelencia
			y la atención personalizada, trabajamos incansablemente para mejorar
			constantemente nuestra plataforma y brindarte acceso a una red de
			profesionales médicos altamente calificados. Nuestro objetivo es
			ofrecerte la mejor atención médica digital y facilitar un camino
			hacia un bienestar óptimo para ti y tu familia."</p>
		<hr>
	</div>

	<div style="height: 70px;"></div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4">
			<div class="card border-0 text-center border-info">
				<img class="card-img-top rounded-circle img-fluid"
					src="https://img.freepik.com/fotos-premium/avatar-inmersivo-dibujos-animados-3d-cautivante-vista-frontal-perfil-hombre-blanco-10-anos-h-negra_983420-10038.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Santiago Cajachagua</h4>
					<p class="card-text">Desarrollador de frontend, encargado de
						que puedas tener un diseño elegante e intuitivo pues nos gusta
						vernos bien y mas en nuestra web. no dudaremos en implementar las
						mejores respuestas</p>
					<a href="#" class="btn btn-primary rounded-circle mr-2"><i
						class="bi bi-facebook"></i></a> <a href="#"
						class="btn btn-primary rounded-circle"><i
						class="bi bi-linkedin"></i></a>
				</div>
			</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4">
			<div class="card border-0 text-center border-info">
				<img class="card-img-top rounded-circle img-fluid"
					src="https://img.freepik.com/fotos-premium/chico-asiatico-sonriente-estilo-animacion-gafas-ia-generativa_343887-872.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Richard Rivas</h4>
					<p class="card-text">Desarrollador de la lógica, para que
						puedas programar tu cita según tus necesidades, conoce todos tus
						resultados gracias a nuestra poder de administrar las solicitudes
						de cientos de pacientes.</p>
					<a href="#" class="btn btn-primary rounded-circle mr-2"><i
						class="bi bi-facebook"></i></a> <a href="#"
						class="btn btn-primary rounded-circle"><i
						class="bi bi-linkedin"></i></a>
				</div>
			</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4">
			<div class="card border-0 text-center border-info">
				<img class="card-img-top rounded-circle img-fluid"
					src="https://img.freepik.com/fotos-premium/animacion-chico-guapo_605905-16278.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Rodrigo Abad</h4>
					<p class="card-text">Encargado del soporte técnico para evitar
						que tengas problemas reservando, nuestro trabajo es darte una
						mejor calidad en cuanto a estructura y orden, no descuidamos ese
						sector importante</p>
					<a href="#" class="btn btn-primary rounded-circle mr-2"><i
						class="bi bi-facebook"></i></a> <a href="#"
						class="btn btn-primary rounded-circle"><i
						class="bi bi-linkedin"></i></a>
				</div>
			</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4">
			<div class="card border-0 text-center border-info">
				<img class="card-img-top rounded-circle img-fluid"
					src="https://img.freepik.com/fotos-premium/nino-gafas-suéter-verde-tiene-cara-graciosa_783884-29684.jpg?size=626&ext=jpg&ga=GA1.1.1518270500.1698537600&semt=ais"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Alvaro Liñan</h4>
					<p class="card-text">Licenciado en gestión de proyectos,
						creativo para el mejor rendimiento del servicio que estamos
						ofreciendo, el mejor resultado. lo tendremos listo para
						implementar y aconsejar</p>
					<a href="#" class="btn btn-primary rounded-circle mr-2"><i
						class="bi bi-facebook"></i></a> <a href="#"
						class="btn btn-primary rounded-circle"><i
						class="bi bi-linkedin"></i></a>
				</div>
			</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4">
			<div class="card border-0 text-center border-info">
				<img class="card-img-top rounded-circle img-fluid"
					src="https://img.freepik.com/fotos-premium/retrato-joven-barba-roja_994418-3581.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h4 class="card-title">Frank Fernandez</h4>
					<p class="card-text">Especialista en el sector médico, con
						muchos años de experiencia para el mejor desarrollo de la
						aplicación web. gracias a mi conocimiento puedo informar bien a
						mis compañeros de equipo.</p>
					<a href="#" class="btn btn-primary rounded-circle mr-2"><i
						class="bi bi-facebook"></i></a> <a href="#"
						class="btn btn-primary rounded-circle"><i
						class="bi bi-linkedin"></i></a>
				</div>
			</div>
			</div>
		</div>
		
	</div>
	<div class="col-2"></div>
	
	

	
	<footer th:replace="~{layout/layout :: footer}"></footer>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>








